body{
    background-color: black;
    font-family: 'Denk One', sans-serif;
}
.cabecera{
    text-align: center;
    color:rgba(247, 94, 39, 0.651);
    padding-top: 50px;
}
h1{
    font-size: 40px;
}
.form-group{
    width: 450px; 
    height: 350px;
}